.navbar {
    background: linear-gradient(#262423, #262423);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 15px;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.links>a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.actions>button {
    padding: 10px;
    font-weight: bold;
    width: 100px;
    color: rgb(22, 189, 22);
    border: 1px solid rgb(22, 189, 22);
    background-color: transparent;
}

.search {
    display: flex;
    justify-content: center;
}

.search-input-group {
    border: 1px solid rgb(121, 106, 106);
    display: flex;
    gap: 0;
    align-items: center;
}

.search-input-group > * {
    border: none;
    background-color: transparent;
}

.search-icon {
    width: 40px;
    height: 40px;
}

.game-search-input {
    height: 40px;
}