body {
    background-color: black;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background: linear-gradient(#262423, #262423);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 15px;
}

.logo>a {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.links>a {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.actions>button {
    padding: 10px;
    font-weight: bold;
    width: 100px;
    color: rgb(22, 189, 22);
    border: 1px solid rgb(22, 189, 22);
    background-color: transparent;
}

.content {
    background-color: white;
    flex-grow: 1;
}

.steve-bg {
    height: 700px;
    background-image: url('/assets/steve.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 65%;
}

.mod-container{
    background-color: black;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.mod-item {
    position: relative;
    top: -70px;
    width: 200px;
}

.footer {
    text-align: center;
    height: 50px;
    background-color: grey;
}